@page "/create-model"
@using PredictiveMaintenance.Interfaces
@using PredictiveMaintenance.Models
@using PredictiveMaintenance.Services
@inject IJSRuntime JSRuntime
@inject IPredictionService PredictionService
@inject ModelSelectionService ModelSelectionService

<h3>Create Model</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

<div class="row">
    @if (predictionResult != null)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-success text-white">Prediction Result</div>
                <div class="card-body">
                    <p>@predictionResult</p>
                </div>
            </div>
        </div>
    }

    @if (csvFiles != null)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-warning text-dark">CSV Files</div>
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (var file in csvFiles)
                        {
                            <li class="list-group-item">
                                <input type="checkbox" checked="@selectedCsvFiles[file]" @onchange="@(e => OnCsvCheckboxChanged(file, (bool)e.Value))" /> @file
                            </li>
                        }
                    </ul>
                    <button class="btn btn-primary mt-2" @onclick="PerformActionWithCsv">Calculate new model</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @if (modelList != null)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">Model List</div>
                <div class="card-body">
                    @foreach (var model in modelList)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@model"
                                   checked="@selectedModels[model]"
                                   @onchange="@(e => OnModelCheckboxChanged(model, (bool)e.Value))" />
                            <label class="form-check-label">@model</label>
                        </div>
                    }
                    <button class="btn btn-primary mt-2" @onclick="SetModelToCalcWith">Set Model to Calc</button>
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="alert alert-success">
                            @successMessage
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    private int? predictionResult;
    private List<string> csvFiles;
    private List<string> modelList;
    private Dictionary<string, bool> selectedModels = new Dictionary<string, bool>();
    private Dictionary<string, bool> selectedCsvFiles = new Dictionary<string, bool>();
    private string successMessage;
    private string errorMessage;

    protected async override Task OnInitializedAsync()
    {
        try
        {
            await ListModels();

            if (modelList != null)
            {
                foreach (var model in modelList)
                {
                    selectedModels[model] = false;
                }
            }

            await ListCsvFiles();
        }
        catch (Exception ex)
        {
            errorMessage = "Initialization Error: " + ex.Message;
        }
    }

    private async Task ListCsvFiles()
    {
        try
        {
            DateTime dateTime = DateTime.Now; // Or any required date
            csvFiles = await PredictionService.GetCsvFileData(dateTime);

            if (csvFiles != null)
            {
                foreach (var file in csvFiles)
                {
                    selectedCsvFiles[file] = false; // Initialize all as not selected
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error listing CSV files: " + ex.Message;
        }
    }

    private async Task ListModels()
    {
        try
        {
            modelList = await PredictionService.GetListOfModelsAsync();

            if (modelList != null)
            {
                foreach (var model in modelList)
                {
                    selectedModels[model] = false;
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error listing models: " + ex.Message;
        }
    }

    private async Task SetModelToCalcWith()
    {
        try
        {
            var selectedModel = selectedModels.FirstOrDefault(m => m.Value).Key;
            if (!string.IsNullOrEmpty(selectedModel))
            {
                var success = await PredictionService.SetModelToCalc(selectedModel);
                if (success)
                {
                    successMessage = $"Model '{selectedModel}' has been successfully set for calculations.";
                    ModelSelectionService.SetModel(selectedModel);
                }
                else
                {
                    errorMessage = $"Failed to set model '{selectedModel}'. Please try again.";
                }

                await InvokeAsync(StateHasChanged); // Refresh UI to display the success message
            }
        }
        catch (Exception ex)
        {
            errorMessage = "Error setting model: " + ex.Message;
        }
    }

    private async Task PerformActionWithCsv()
    {
        try
        {
            // Retrieve the selected CSV file
            var selectedFile = selectedCsvFiles.FirstOrDefault(f => f.Value).Key;

            if (!string.IsNullOrEmpty(selectedFile)) // Ensures there is a selected file
            {
                
                var success = await PredictionService.CalculateNewModelFromCsv(selectedFile);
                if (success)
                {
                    successMessage = $"CSV '{selectedFile}' has been successfully retrained.";
                    await ListModels();
                }
            }
            else
            {
                errorMessage = "No CSV file selected.";
            }

            await InvokeAsync(StateHasChanged); // Refresh UI
        }
        catch (Exception ex)
        {
            errorMessage = "Error performing action with selected CSV file: " + ex.Message;
        }
    }

    private void OnCsvCheckboxChanged(string file, bool isChecked)
    {
        try
        {
            if (selectedCsvFiles.ContainsKey(file))
            {
                // Deselect all other checkboxes
                foreach (var key in selectedCsvFiles.Keys.ToList())
                {
                    selectedCsvFiles[key] = false;
                }
                // Select the current checkbox
                selectedCsvFiles[file] = isChecked;
            }

            InvokeAsync(StateHasChanged); // Refresh UI
        }
        catch (Exception ex)
        {
            errorMessage = "Error changing checkbox: " + ex.Message;
        }
    }

    private async Task OnModelCheckboxChanged(string model, bool isChecked)
    {
        try
        {
            if (selectedModels.ContainsKey(model))
            {
                selectedModels[model] = isChecked;

                // Deselect other models if this is how you want it to behave
                foreach (var key in selectedModels.Keys.Where(k => k != model).ToList())
                {
                    selectedModels[key] = false;
                }
            }

            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            errorMessage = "Error changing checkbox: " + ex.Message;
        }
    }
}
